<ul>
    {{#each this}}
        <li>
            <strong>Ім'я:</strong> {{name}} <br>
            <strong>Вік:</strong> {{age}} <br>
            <strong>Електронна пошта:</strong> {{email}}
        </li>
    {{/each}}
</ul>
